{% extends "admin_panel/layout.html" %}
{% load tailwind_filters %}
{% block content %}
{% block style %}
    <style>
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
 </style>
{% endblock style %}
<div class="flex flex-1 gap-3 pl-5 md:pl-[24%] pr-[2%]">
    <div class="w-full">
        <div class="flex flex-col">
            <div class="flex flex-1 justify-between my-3">
                <h2 class="text-2xl text-gray-600 font-bold ">Manage Category</h2>
                <a href="{% url 'admin.category.insert' %}" class="bg-yellow-500 px-3 py-2 rounded-lg text-white">Insert Category</a>
            </div>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 ">
            <tr>
                <th scope="col" class="px-2 py-3">
                    CATEGORY TITLE
                </th>
                <th scope="col" class="px-2 py-3">
                    SLUG
                </th>
                <th scope="col" class="px-2 py-3">
                    STATUS
                </th>
                <th scope="col" class="px-2 py-3">
                    Image
                </th>
                <th scope="col" class="px-2 py-3">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr class="text-gray-700 border border-gray-300">
                <th scope="row" class="px-2 py-2 font-medium text-gray-700 whitespace-nowrap">
                    {{category.cat_title}}
                </th>
                <td class="px-2 py-2">
                    {{category.cat_slug}}
                </td>
                <td class="px-2 py-2">
                    {% if category.cat_status %}
                        <div class="bg-green-200 p-1">Active</div>
                    {% else %}
                        <div class="bg-red-200 p-1">Inactive</div>
                    {% endif %}
                </td>
                <td class="px-2 py-2">
                  <img src="{{category.image.url}}" class="w-[70px] h-[50px]" alt="">
                </td>
                <td class="px-2 py-2 flex flex-1 items-center ">
                    <!-- Button trigger modal -->
<button type="button" class="btn text-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Delete
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Delete Category</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are You Sure? You want to delete <b class="text-red-600">{{category.cat_title}}</b> brand.
        </div>
        <div class="modal-footer">
            <a href="{% url 'admin.category.delete' category.id %}"><button type="button" class="btn btn-red" data-bs-dismiss="modal">Yes</button>
            </a>
          <a href="{% url 'admin.category'%}"><button type="button" class="btn btn-primary">No</button></a>
        </div>
      </div>
    </div>
  </div>

                <a href="{% url 'admin.edit.category' category.id %}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

        </div>
    </div>
   
</div>
{% endblock content %}