{% extends "public_panel/layout.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content  %}
        {% include "public_panel/category.html" %}
        <div class="flex flex-1 h-[250px] pt-8 justify-center lg:w-full">
            <img src="{% static "banner/b.png"%}" class="h-[250px] mx-4 my-5 w-[1200px]"/>
          </div>
        {% include "public_panel/card.html" %}
    {% endblock content  %}
</body>
</html>